data/* filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
/LICENSE filter=lfs diff=lfs merge=lfs -text
*.toml filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.h5ad filter=lfs diff=lfs merge=lfs -text
*.jl filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.local filter=lfs diff=lfs merge=lfs -text
src/Cortex.jl !text !filter !merge !diff
src !text !filter !merge !diff
src/Evaluate.jl !text !filter !merge !diff
src/CountDistributions.jl !text !filter !merge !diff
src/DataProcessing.jl !text !filter !merge !diff
src/EncoderDecoder.jl !text !filter !merge !diff
src/ModelFunctions.jl !text !filter !merge !diff
src/newPlayground.jl !text !filter !merge !diff
src/PBMC.jl !text !filter !merge !diff
src/scVAEmodel.jl !text !filter !merge !diff
src/scVAEmultimodel.jl !text !filter !merge !diff
src/scVI.jl !text !filter !merge !diff
src/Tasic.jl !text !filter !merge !diff
src/scLDVAE.jl !text !filter !merge !diff
src/Training !text !filter !merge !diff
src/Training.jl !text !filter !merge !diff
src/Utils.jl !text !filter !merge !diff
test !text !filter !merge !diff
test/runtests.jl !text !filter !merge !diff
docs/make.jl !text !filter !merge !diff
adata_cite_gex_subsample_5000_cells_rep_0_dense.h5ad !text !filter !merge !diff
adata_cite_protein_subsample_5000_cells_rep_0_dense.h5ad !text !filter !merge !diff
adata_cite_protein_subsample_5000_cells_rep_0.h5ad !text !filter !merge !diff
adata_cite_gex_subsample_5000_cells_rep_0.h5ad !text !filter !merge !diff
adata_cite_gex_subsample_5000_cells_rep_0_dense.h5ad filter=lfs diff=lfs merge=lfs -text
